#iconsRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  color: #F05CF2;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icons:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
