#iconsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 180px;
    border-radius: 20px;
    border: .5px solid #e7c367;
    background-color: #5c106d;
    /* background-image: linear-gradient (#490A57, #7c1d8f, #490A57);
    background-image: linear-gradient(90deg, #490A57, #7c1d8f, #490A57);*/
  }
  
  .icons {
    color: #22b685;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icons:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
