.navLinks {
    font-weight: 400;
    font-size: 8pt;
    position: absolute;
    left: 0;
}

.navLink {
    text-decoration: none;
    margin: 20px;
    color: #f0f9f0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .1s ease;
}

.navLink:hover {
    color: #f981f7;
}

/* show Nav Links text when screen size is >1000px */
@media screen and (max-width: 1000px) {
    .navLinks {
        display: none;
    }
}