.about-Pg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61f25c13;
  }
  
  .about-Pg-Bg{
    height: 90vh;
    width: 40vw;
    position: absolute;
    z-index: -1;
  }
  
  .bg-img {
    flex: 1;
    height: 100%;
    width: 100%;
  opacity: .5;
  }
  
  .about-bio-container {
    height: 200px;
    min-width: 300px;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom left, #35073fdf, #35073fae);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 0.5px solid rgba(128, 128, 128, 0.224);
    box-shadow: 1px 2px 4px 2px rgba(31, 10, 60, 0.385);
  }

  .bio-P {
    color: rgb(224, 223, 223);
    font-size: 11pt;
    min-height: 333px;
  }
