.aboutPg {
  text-align: center;
  background-color: #505956;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figCaption {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  text-indent: 2em;
  font-size: 12pt;
  line-height: 1.5;
  padding: 20px;
  margin: 20px;
  
/*shadowed card*/
  background: rgba(78, 240, 197, 0.441);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.8px);
  -webkit-backdrop-filter: blur(18.8px);
  border: 0.5px solid rgba(91, 146, 128, 0.65);
  box-shadow: 10px 10px 6px 1px rgba(0, 0, 0, 0.2);
}

p {
  padding: 5px;
}

@media screen and (min-width: 900px) {
  figcaption {
    max-width: 900px;
    font-size: 14pt;
    
  }
}

@media screen and (min-width: 450px) {
  figcaption {
    flex-direction: row;
  }
}
