.contactPg {
  background-color: #505956;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: -3;
}

.contactContainer {
  background: rgba(78, 240, 197, 0.441);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 0.9px solid rgba(55, 204, 154, 0.65);
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.contactLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px;
  font-size: 16pt;
  margin: 5px;
  color: #f8c238;
  cursor: pointer;
  font-style: italic;
  text-shadow: rgb(76, 89, 98) 1px 1px 2px;
}

.contactIcons {
  margin-right: 1rem;
}

.contactLinks:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  text-shadow: rgb(76, 89, 98) 2px 1px 1px;
}
